body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F7FA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.dlg-close-button {
  font-size: 24px;
  cursor: pointer;
  font-weight: 900;
}

.btn-purple {
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
}

.btn-purple:hover {
  color: #fff;
  background-color: #354497;
  border-color: #354497;
}

.btn-outline-purple {
  color: #3f51b5;
  border-color: #3f51b5;
}

.btn-outline-purple:hover {
  color: #fff;
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.card {
  background-color: #F5F7FA;
}

.card-body {
  padding-left: 10px;
  padding-right: 10px;
}

.card-title {
  position: absolute;
  top: -13px;
  background-color: #F5F7FA;
  color: #3f51b5;
  left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.list-group-item {
  background-color: #F5F7FA;
  padding-left: 5px;
  padding-right: 5px;
}

.modal-header {
  border-bottom-width: 0;
  padding-bottom: 0px;
}

.modal-footer {
  border-top-width: 0;
  padding-top: 0px;
}